{% extends 'base.html.twig' %}
{% set title = "Ajoute une catégorie" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <header class="page-header">
        <h2 class="page-title">{{ title }}</h2>
    </header>

    <main>
        {% include "category/_form.html.twig" %}
    </main>
</div>
{% endblock %}
