{% extends 'base.html.twig' %}
{% set title = "Modifier une catégorie" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <header class="page-header">
        <h2 class="page-title">{{ title }}</h2>
    </header>

    <main>
        {% include "category/_form.html.twig" with {btn_label: "Modifier la catégorie"} %}
    </main>
</div>
{% endblock %}