{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="page-header">
        <h2 class="page-title">Bienvenu sur WebNotes</h2>
    </div>

    <div class="actions">
        <a href="{{ path('note:create') }}" class="btn btn-secondary">Ajouter une note</a>
    </div>

    <main>
        <ul>
            <li>Note</li>
            <li>Note</li>
            <li>Note</li>
            <li>Note</li>
        </ul>
    </main>

</div>
{% endblock %}
