{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="page-header">
        <h2 class="page-title">Bienvenu sur WebNotes</h2>
    </div>
lass="nav-link" href="{{ path('note:index') }}">Notes</a><br>

</div>
{% endblock %}
