{% extends 'base.html.twig' %}

{% block body %}
<main class="container">

    <section class="page-header py-5 px-5">
        <h2 class="page-title">Bienvenu sur WebNotes</h2>
        <p>Votre nouveau application pour enregistrer vos notes sans perdre de temps!</p>
       
    </section>

    {# <div class="actions">
        <a href="{{ path('note:create') }}" class="btn btn-secondary">Ajouter une note</a>
    </div> #}

    <section class="py-5 mx-5">
        <h2class="text-center">Webnotes en 3 étapes :</h2>
        <ul>
            <li>1 - S'inscrire</li>
            <li>2 - Se connecter</li>
            <li>3 - Créer vos notes tout simplement!</li>
        </ul>
    </section>

</main>
{% endblock %}
