<form action="" method="post">

    <div class="form-group">
        <label for="title">Titre de la note</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <button type="submit">{{ label | default("Créer la note") }}</button>

</form>