{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="page-header">
            <h2 class="page-title">Ajouter une note</h2>
        </header>

        <main>
            {% include "note/_form.html.twig" %}
        </main>
        
    </div>
{% endblock %}