{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <header class="page-header py-5 px-5">
        <h2 class="page-title">Supprimer la note : {{ note.id }}</h2>
    </header>

    <main class="py-4">
        <form method="POST" action="{{ path('note:delete', {id: note.id}) }}">
            <input type="hidden" name="_method" value="DELETE">

            <p>Confirmer la Suppression de la categorie : {{ note.title }} ?</p>

            <button type="submit" class="btn btn-danger">OUI</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('note:index') }}'">NON</button>
        </form>
    </main>

</div>
{% endblock %}