{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="page-header">
            <h2 class="page-title">Ma note : xxxxx</h2>
        </header>

        <main>
            
        </main>
        
    </div>
{% endblock %}