{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <header class="page-header">
        <h2 class="page-title">Ma note ({{ note.id }}): xxxxx</h2>
    </header>

    {{ dump(note) }}

</div>
{% endblock %}