{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <header class="page-header">
        <h2 class="page-title">Editer la note : {{ id }}</h2>
    </header>

    <main>
        {% include "note/_form.html.twig" with {btn_label: "Modifier la note"} %}
    </main>

</div>
{% endblock %}